body {
  color: #2D2525;
  font-family: "Ubuntu", sans-serif;
  margin: 0 auto;
  width: 100%;
}

.image {
  margin-top: 20px;
}
.img-responsive {
  width: 100%;
}
.name {
  font-family: "Open Sans", cursive;
  font-size: 3em;
}
h1 {
  text-transform: uppercase;
  text-align: right;
  font-size: 40px;
}
h3 {
  text-transform: uppercase;
  text-align: right;
}
hr {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  background-color: 53E7CF;
}

h2 {
  background-color: 53E7CF;
}
